<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:robot_worlds.db</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <!-- Specify custom dialect -->
        <property name="hibernate.dialect">org.communication.Database.SQLiteDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Format SQL for better readability -->
        <property name="hibernate.format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify annotated classes -->
        <mapping class="org.communication.Database.World"/>
    </session-factory>
</hibernate-configuration>
